@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/*MARGEM E DIMENÇÃO DO TEXTO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

/* DEGRADE DA PÁGINA BACKGROUND*/
body {
    font-size:100%;
    background: linear-gradient(to bottom,#000000, #1b1919);


}
/* EDIÇÃO DO CABEÇALHO ONDE CONTÉM LOGO E MENUS */
.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background:linear-gradient( #000000, #1b1919);
    
}


.logo-cabecalho {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    }
    

/*EDIÇÃO DOS BOTÕES DO MENU DO CABEÇALHO COR, TAMANHO, FONT, BORDA */
/*ln {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
   
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    
}



/* EDIÇÃO DOS BOTÕES AO PASSAR O MOUSE POR CIMA */
.Loja:hover {
    background:linear-gradient(68.15deg,#000000, #1b1919);
    color:#ff98c2;
}
.Album:hover {
    background:linear-gradient(68.15deg,#000000, #1b1919);
    color:#ff98c2;
}
.Musicas:hover {
    background:linear-gradient(68.15deg,#000000, #1b1919);
    color:#ff98c2;
}
.userAndPassword:hover {
    background:linear-gradient(68.15deg,#000000, #1b1919);
    color:#ff98c2;
}
.buttonVamosNessa:hover {
    background:linear-gradient(68.15deg,#000000, #1b1919);
    color:#ff98c2;
}


/*DEFINANDO QUE IDEPENDENTE DO TAMANHO DO TEXTO TODOS OS BOTÕES TEM O MESMO TAMANHO. */
/*ln {
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    text-align:center;
  }
  

  /*ESTILIZAÇÃO DO CONTEUDO*/

  /*ESTILIZAÇÃO DA LINHA DO TOPO E DA LINHA QUE COMEÇA DO RODOPÉ */
.conteudo {
    margin-bottom: 40px;
    border-top: 0.3px solid #ca72bc;
}

/*AQUI USEI O FLEXBOX PARA DEFINIR, DIREÇÃO, ESPAÇAMENTO E ALINHAMENTO DO CONTEUDO PRINCIPAL */
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

/*AQUI USEI O FLEXBOX PARA DEFINIR, DIREÇÃO, ESPAÇAMENTO E ALINHAMENTO DO CONTEUDO PRINCIPAL ESCRITO */
.conteudo-principal-escrito {
    display: flex;
    flex-direction:column;
    gap: 32px;
}

/* AQUI ESTOU EDITANDO O TAMANHO, FONT E COR DO TITULO */
.conteudo-principal-titulo {
    font-family: 'Righteos', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
}

/* AQUI ESTOU EDITANDO O TAMANHO, FONT E COR DO SUBTITULO*/
.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
}

/* AQUI ESTOU EDITANDO O TAMANHO, FONT E COR DO BOTÃO*/
.contetudo-principal-escrito-botao {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    text-align:justify;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

}

/*DEFINANDO UM TAMANHO MÁXIMO PARA MEU VIDEO*/
.contetudo-principal-video {
    
border: #ffb6c1;
box-shadow: #ff98c2;
  



}
 
/*NOVAMENTE UM FLEXBOX PARA CENTRALIZAR E ESPAÇAR O CONTEUDO SECUNDARIO */
.contetudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.contetudo-secundario-titulo {
    border-top: 0.4px solid #ca72bc;
    padding-top: 20px;
    font-family: 'Righteos', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
}

.contetudo-secundario-paragrafo {

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    
}

.rodape {
    
    padding:0.5px;
    border-top: 0.4px solid #ca72bc;
}

.rodape-imagem {
    height: 200px;
    display: block;
    margin: 0 auto;

}

footer {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);

    
    
  }
  
.Loja {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
   
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    text-align:center;

}

.Album {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
   
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    text-align:center;

}
.Musicas {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
   
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    text-align:center;

}
.userAndPassword {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
   
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    text-align:center;

}
.buttonVamosNessa {
    background:linear-gradient(68.15deg, #b44667cc 16.62%, #e98aa9b9 85.61%);
   
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    border-width: 1px;
    border-color: pink;
    box-shadow: pink;
    font-family: 'Sarala', sans-serif;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    text-align:center;

}
